.bgRectangle {
    horiz-align: center;
    position: relative;
    margin: 10% 0 0 0;
    width: 1100px;
    height: 39%;
    padding: 4px;
}
.lowerBgRectangle { /*bgRectangle*/
    height: 100%;
    background-color: #282c3c;
    padding: 5px 5px 0 5px;
}
@media screen and (max-width: 1150px) {
    .match{
        display: flex;
        flex-direction: column;
    }
    .upcomingMatch {
        display: flex;
        cursor: pointer;
        padding: 0 16px;
        height: 180px;
        border-bottom: 1px solid #495867;
    }
    .bgRectangle {
        width: 900px;
        height: 39%;
    }
    .matchInfo{
        flex:1.15;
    }
}
.faqSpan{
    left: 10px;
}
.faqLi{
    margin-bottom: 3%;
    text-align: left;
}