body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 15px;
    background-color: #12172a;
}
a {
    text-decoration: none;
    color: #bebebe;
}
.wrapper {
    width: 95%;
    max-width: 1200px;
    margin: 30px auto;
}
.pricing-table h2 {
    font-size: 1.5em;
    padding: 35px 10px;
    margin: 0;
}
.description {
    margin-top: 20px;
    font-size: 0.85em;
    padding: 0 40px;
    font-style: italic;
}

li{
    color: #bebebe;
}

h2{
    color:#bebebe;
}

.description {
    margin-top: 20px;
    font-size: 0.85em;
    padding: 0 40px;
    font-style: italic;
    color:#bebebe;
}
.price,
.pricing-box {
    -webkit-transition: all ease-out 0.2s;
    transition: all ease-out 0.2s;
}
.price {
    background: #4a8eb2;
    color: #bebebe;
    font-size: 2em;
    font-weight: 600;
    position: relative;
    padding: 20px 10px;
    display: block;
}
.pricing-box:nth-child(2) .price {
    background: #216f99;
}
.pricing-box:nth-child(3) .price {
    background: #02537f;
}
.pricing-box:hover .price {
    background: #ff0;
    box-shadow: inset 0 0 100px 0 rgba(0, 0, 0, 0.3);
    color: #000;
}
.btn {
    background: #ff0;
    border: 1px solid #d9d909;
    color: #000;
    -webkit-transition: all ease-out 0.2s;
    transition: all ease-out 0.2s;
    border-radius: 30px;
    padding: 7px 40px;
    display: inline-block;
    margin-top: 20px;
}
.btn:hover {
    background: #093e64;
    border: 1px solid #093e64;
    color: #fff;
}
.pricing-table-divider {
    display: block;
    height: 1px;
    background: rgba(0, 0, 0, 0.08);
    max-width: 80%;
    margin: 20px auto 0;
}
.pricing-table {
    border-radius: 3px;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    text-align: center;
}

.pricing-box {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.13);
    border: 2px solid rgba(10, 123, 183, 0.14);
}
.pricing-box:hover {
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
}
.pricing-table ul li {
    color: #bebebe;
    padding: 3px 0;
    font-size: 0.95em;
}
.pricing-table ul {
    color: #000;
    padding: 15px 60px;
    text-align: left;
}
@media (max-width: 750px) {
    .pricing-table {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    .pricing-table > div:nth-child(3) {
        -ms-grid-row: 1;
        grid-row-start: 1;
    }
    .pricing-table > div:nth-child(2) {
        -ms-grid-row: 2;
        grid-row-start: 2;
    }

}